<%= form_with(model: [:admin, @unit], data: { turbo: false }) do |form| %>
  <%= render 'shared/error_messages', object: @unit %>

  <div class="expression">
    <%= form.label :expression %>
    <%= form.text_field :expression %>
  </div>

  <div class="ucum">
    <%= form.label :ucum %>
    <%= form.text_field :ucum %>
  </div>

  <div class="si">
    <%= form.label :si %>
    <%= form.text_field :si %>
  </div>

  <div class="conversion-factor">
    <%= form.label :conversion_factor %>
    <%= form.text_field :conversion_factor %>
  </div>

  <div class="buttonbar">
    <%= form.submit 'Submit' %>
  </div>
<% end %>
