<%= form_with(model: [:admin, @unit], local: true) do |f| %>
  <%= render 'shared/error_messages', object: @unit %>

  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="ucum">
    <%= f.label :ucum %>
    <%= f.text_field :ucum %>
  </div>

  <div class="buttonbar">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
