<%= content_tag :tr, id: dom_id(unit), is: 'turbo-frame' do %>
  <td><%= unit.expression %></td>
  <td><%= unit.ucum %></td>
  <td><%= unit.si %></td>
  <td><%= unit.conversion_factor %></td>
  <td><%= link_to 'Show', [:admin, unit], data: { turbo_frame: '_top' } %></td>
  <td><%= link_to 'Edit', edit_admin_unit_path(unit), data: { turbo_frame: '_top' } %></td>
  <td>
    <%= link_to 'Destroy', [:admin, unit], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </td>
<% end %>
