<% title 'Unit' %>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>UCUM:</strong>
  <%= @unit.ucum %>
</p>

<p>
  <%= link_to 'Edit', edit_admin_unit_path(@unit) %> |
  <%= link_to 'Destroy', [:admin, @unit], method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'View All', admin_units_path %>
</p>
