<% title t('.accession', id: @diagnostic_report.id) %>

<%= turbo_stream_from :results %>

<fieldset class="<%= @diagnostic_report.reported_at.blank? %>">
  <h1><%= t('.accession', id: @diagnostic_report.id) %></h1>

  <%= practitioner(@diagnostic_report.doctor) %><br/>

  <% if @diagnostic_report.icd9.present? %>
    <%= t('.icd9') %>
    <strong><%= @diagnostic_report.icd9 %></strong><br/>
  <% end %>

  <% if @diagnostic_report.drawn_at %>
    <%= t('.drawn_at') %>
    <strong><%= l(@diagnostic_report.drawn_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @diagnostic_report.drawer.initials %></strong><br/>
  <% end %>

  <% if @diagnostic_report.received_at %>
    <%= t('.received_at') %>
    <strong><%= l(@diagnostic_report.received_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @diagnostic_report.receiver.initials %></strong><br/>
  <% end %>

  <% if @diagnostic_report.reported_at %>
    <%= t('.reported_at') %>
    <strong><%= l(@diagnostic_report.reported_at, format: '%e %b %Y %l:%M%p') %></strong>
    <%= t('.by') %>
    <strong><%= @diagnostic_report.reporter.initials %></strong>
  <% end %>

  <%= form_with model: @diagnostic_report, url: diagnostic_report_path(@diagnostic_report),
    html: { novalidate: '', autocomplete: 'off' } do |form| %>
    <%= render 'shared/error_messages', object: @diagnostic_report %>

    <% @diagnostic_report.results.includes(:accession, :patient).group_by(&:department).each do |department, results| %>
      <h2><%= department.name %></h2>

      <div class="results">
        <% reset_cycle("alternating_row_colors") %>
        <%= form.fields_for :results do |results_form| %>
          <% if results_form.object.department == department %>
            <%= render 'observations/form', form: results_form %>
          <% end %>
        <% end %>
      </div>

      <%= form.fields_for :notes do |notes_form| %>
        <% if notes_form.object.department == department %>
          <%= render 'notes/form', form: notes_form %>
        <% end %>
      <% end %>
    <% end %>

    <div class="buttonbar">
      <%= form.submit t('.submit') %>
      <%= t('.or') %>
      <%= link_to t('.cancel'), diagnostic_report_path(@diagnostic_report) %>
    </div>
  <% end %>
</fieldset>
