<% title t('.accession', id: @diagnostic_report.id) %>

<fieldset class="<%= @diagnostic_report.reported_at.blank? %>">
  <h1><%= t('.accession', id: @diagnostic_report.id) %></h1>

  <%= practitioner(@diagnostic_report.doctor) %><br/>

  <% if @diagnostic_report.icd9.present? %>
    <%= t('.icd9') %>
    <strong><%= @diagnostic_report.icd9 %></strong><br/>
  <% end %>

  <% if @diagnostic_report.drawn_at %>
    <%= t('.drawn_at') %>
    <strong><%= l(@diagnostic_report.drawn_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @diagnostic_report.drawer.initials %></strong><br/>
  <% end %>

  <% if @diagnostic_report.received_at %>
    <%= t('.received_at') %>
    <strong><%= l(@diagnostic_report.received_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @diagnostic_report.receiver.initials %></strong><br/>
  <% end %>

  <% if @diagnostic_report.reported_at %>
    <%= t('.reported_at') %>
    <strong><%= l(@diagnostic_report.reported_at, format: '%e %b %Y %l:%M%p') %></strong>
    <%= t('.by') %>
    <strong><%= @diagnostic_report.reporter.initials %></strong>
  <% end %>

  <%= form_with model: @diagnostic_report, url: diagnostic_report_path(@diagnostic_report), local: true, html: { novalidate: '' } do |a| %>
    <%= render 'shared/error_messages', object: @diagnostic_report %>

    <% @diagnostic_report.results.includes(lab_test: [:department]).order('lab_tests.position').group_by(&:department).each do |department, results| %>
      <h2><%= department.name %></h2>

      <table class="results">
        <% reset_cycle('alternating_row_colors') %>
        <%= a.fields_for :results, results do |results_form| %>
          <%= render 'observations/form', object: results_form.object, f: results_form %>
        <% end %>
      </table>

      <%= a.fields_for :notes do |notes_form| %>
        <% if notes_form.object.department == department %>
          <%= render 'notes/form', f: notes_form %>
        <% end %>
      <% end %>
    <% end %>

    <div class="buttonbar">
      <%= a.submit t('.submit') %>
      <%= t('.or') %>
      <%= link_to t('.cancel'), diagnostic_report_path(@diagnostic_report) %>
    </div>
  <% end %>
</fieldset>
