<% title t('.title') %>

<%= turbo_stream_from [current_user.admin?, :accessions] %>

<div class="title">
  <span><%= t('.title')%></span>
</div>

<div class='list'>
  <div class="log">
    <ul>
      <%= render 'accessions/empty', patient: nil %>
      <% if current_user.admin? %>
        <%= render partial: 'accessions/admin_accession', collection: @diagnostic_reports, as: :accession %>
      <% else %>
        <%= render @diagnostic_reports %>
      <% end %>
    </ul>

    <%= paginate @diagnostic_reports %>
  </div>
</div>
