<% title t('.title') %>

<%= turbo_stream_from [current_user.admin?, :accessions] %>

<div class="title">
  <span><%= t('.title')%></span>
</div>

<div class='list' id="requisitions">
  <div class="log">
    <% if @diagnostic_reports.blank? %>
      <%= t('.no_requisitions_yet') %><br/>
      <% if @patient %>
        <%= link_to t('.order_tests'), new_patient_accession_path(@patient) %>
      <% end %>
    <% else %>
      <ul>
        <% if current_user.admin? %>
          <%= render partial: 'accessions/admin_accession', collection: @diagnostic_reports, as: :accession %>
        <% else %>
          <%= render @diagnostic_reports %>
        <% end %>
      </ul>

      <%= paginate @diagnostic_reports %>
    <% end %>
  </div>
</div>
