<% title t('.accession', id: @diagnostic_report.id) %>

<%= turbo_stream_from :results %>

<fieldset class="<%= @diagnostic_report.reported_at.blank? %>">
  <h1>
    <%= t('.accession', id: @diagnostic_report.id) %>
    <% if @diagnostic_report.reported_at.present? %>
      <%= link_to diagnostic_report_path @diagnostic_report, format: :smart_health_card do %>
        <%= image_tag('logo_smart.svg', class: 'smart_icon') %>
      <% end %>
    <% end %>
  </h1>

  <% if @diagnostic_report.doctor %>
    <%= t('.ordered_by') %>
  <% end %>
  <strong><%= organization_or_practitioner(@diagnostic_report.doctor)%></strong>
  <% if @diagnostic_report.doctor && @diagnostic_report.doctor.email.present? && !@diagnostic_report.registered? %>
    <%= email_report(:practitioner, @diagnostic_report, @diagnostic_report.doctor.email) %>
  <% end %>
  <br/>

  <% if @diagnostic_report.icd9.present? %>
    <%= t('.icd9') %>
    <strong><%= @diagnostic_report.icd9 %></strong><br/>
  <% end %>

  <% if @diagnostic_report.drawn_at %>
    <%= t('.drawn_at') %>
    <strong><%= l(@diagnostic_report.drawn_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @diagnostic_report.drawer.initials %></strong><br/>
  <% end %>

  <% if @diagnostic_report.received_at %>
    <%= t('.received_at') %>
    <strong><%= l(@diagnostic_report.received_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @diagnostic_report.receiver.initials %></strong><br/>
  <% end %>

  <% if @diagnostic_report.reported_at %>
    <%= t('.reported_at') %>
    <strong><%= l(@diagnostic_report.reported_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @diagnostic_report.reporter.initials %></strong>
  <% end %>

  <% @results.each do |department, results| %>
    <h2><%= department.name %></h2>

    <div class="results">
      <%= render results %>
    </div>

    <% if @diagnostic_report.notes.find_by_department_id(department).try(:content).present? %>
      <div class="notes">
        <h3><%= t('.notes') %></h3>
        <%= sanitize(@diagnostic_report.notes.find_by_department_id(department).content) %>
      </div>
    <% end %>
  <% end %>

  <div class="buttonbar">
    <% if @diagnostic_report.preliminary? %>
      <%= button_to t('.certify'), certify_diagnostic_report_path(@diagnostic_report), method: :patch %> |
    <% elsif current_user.admin? && !@diagnostic_report.registered? && !@diagnostic_report.reported_at %>
       <%= force_certify_diagnostic_report(@diagnostic_report) %> |
    <% end %>
    <%= link_to t('.change_accession'), edit_accession_path(@diagnostic_report) %> |
    <% if @diagnostic_report.reported_at %>
      <%= link_to t('.change_results'), edit_diagnostic_report_path(@diagnostic_report) %> |
      <%= link_to t('.smart_report'), diagnostic_report_path(@diagnostic_report, format: 'pdf', smart: true) %> |
      <%= link_to t('.signed_report'), diagnostic_report_path(@diagnostic_report, format: 'pdf', signature: true) %> |
    <% else %>
      <%= link_to t('.enter_results'), edit_diagnostic_report_path(@diagnostic_report) %> |
    <% end %>
    <%= link_to t('.print_report'), diagnostic_report_path(@diagnostic_report, format: 'pdf') %>
    <% if @patient.email.present? && !@diagnostic_report.registered? %>
       | <%= email_report(:patient, @diagnostic_report, @patient.email) %>
    <% end %>
  </div>
</fieldset>
