<table class="<%= row_class %>">
  <tbody>
    <tr>
      <td class="analyte">
        <%= render partial: 'observations/form_analyte', locals: { form: form } %>
      </td>
      <td class="units">
        <%= sanitize(format_units(form.object)) if display_units(form.object) %>
      </td>
      <td class="ranges">
        <%= render partial: 'observations/qualified_interval',
          collection: form.object.reference_intervals.includes(:lab_test),
          locals: { display_gender: form.object.patient.unknown? } if display_units(form.object) %>
      </td>
    </tr>

    <% if form.object.lab_test_remarks.present? %>
    <tr>
      <td class="remarks" colspan="3">
        <%= sanitize(form.object.lab_test_remarks) %>
      </td>
    </tr>
    <tr>
      <td class="remarks" colspan="3">
        <%= sanitize(form.object.derived_remarks) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
