<% same_row_class = row_class %>
<tr class="<%= same_row_class %>">
  <td class="lab_test <%= flag_color object %>">
    <%= f.label :value, sanitize(object.lab_test_name) %>
  </td>
  <td class="result <%= flag_color object %>">
    <%= observation_input f, object, object.lab_test %>
  </td>
  <td class="symbol <%= flag_color object %>">
    <%= flag_name object %>
  </td>
  <td class="units">
    <%= sanitize(format_units(object)) %>
  </td>
  <td class="ranges">
    <table>
      <tbody>
        <%= render object.reference_ranges.includes(:lab_test), display_gender: @patient.unknown? %>
      </tbody>
    </table>
  </td>
</tr>
<% if object.lab_test_remarks.present? %>
<tr class="<%= same_row_class %>">
  <td class="remarks" colspan="5"><%= sanitize(object.lab_test_remarks) %></td>
</tr>
<tr class="<%= same_row_class %>">
  <td class="remarks" colspan="3"><%= sanitize(object.derived_remarks) %></td>
</tr>
<% end %>
