<table class="row-stripes">
  <tbody>
    <tr>
      <td class="analyte">
        <%= render partial: 'observations/analyte', object: observation %>
      </td>
      <td class="units">
        <%= sanitize(format_units(observation)) if display_units(observation) %>
      </td>
      <td class="ranges">
        <%= render partial: 'observations/qualified_interval',
          collection: observation.reference_intervals.includes(:lab_test),
          locals: { display_gender: observation.patient.unknown? } if display_units(observation) %>
      </td>
    </tr>

    <% if observation.lab_test_remarks.present? %>
    <tr>
      <td class="remarks" colspan="3">
        <%= sanitize(observation.lab_test_remarks) %>
      </td>
    </tr>
    <tr>
      <td class="remarks" colspan="3">
        <%= sanitize(observation.derived_remarks) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
