<tr>
  <% row = range_row(qualified_interval, display_gender: display_gender) %>
  <td class="range_0">
    <%= row[0] %>
  </td>
  <td class="range_1">
    <%= row[1] %>
  </td>
  <td class="range_2">
    <%= row[2] %>
  </td>
  <td class="range_3">
    <%= row[3] %>
  </td>
  <td class="range_4">
    <%= row[4] %>
  </td>
</tr>
