<%= form_with(model: [:admin, @qualified_value]) do |form| %>
  <%= render 'shared/error_messages', object: @qualified_value %>

  <div class="lab-test">
    <%= form.label :lab_test_id %>
    <%= form.grouped_collection_select :lab_test_id, Department.cached_tests, :lab_tests, :name, :id, :stripped_name_with_description, include_blank: true %>
  </div>

  <div class="range_category">
    <%= form.label :range_category %>
    <%= form.select :range_category, QualifiedValue::RANGE_CATEGORIES %>
  </div>

  <div class="range">
    Range
    <%= form.label :range_low_value, 'Low' %>
    <%= form.text_field :range_low_value %>

    <%= form.label :range_high_value, 'High' %>
    <%= form.text_field :range_high_value %>
  </div>

  <div class="context">
    <%= form.label :context %>
    <%= form.select :context, options_for_context, include_blank: true %>
  </div>

  <div class="interpretation">
    <%= form.label :interpretation %>
    <%= form.collection_select :interpretation_id, LabTestValue.all.sorted, :id, :stripped_value_with_flag, include_blank: true %>
  </div>

  <div class="gender">
    <%= form.label :gender %>
    <%= form.select :gender, QualifiedValue::GENDERS, include_blank: true %>
  </div>

  <div class="age">
    Age
    <%= form.label :age_low, 'Low' %>
    <%= form.text_field :age_low %>

    <%= form.label :age_high, 'High (P value + 1)' %>
    <%= form.text_field :age_high %>
  </div>

  <div class="gestational-age">
    Gestational Age
    <%= form.label :gestational_age_low, 'Low' %>
    <%= form.text_field :gestational_age_low %>

    <%= form.label :gestational_age_high, 'High (P value + 1)' %>
    <%= form.text_field :gestational_age_high %>
  </div>

  <div class="condition">
    <%= form.label :condition %>
    <%= form.text_field :condition %>
  </div>

  <div class="animal-species">
    <%= form.label :animal_type, 'Animal Species' %>
    <%= form.select :animal_type, options_for_animal_species, include_blank: true %>
  </div>

  <div class="buttonbar">
    <%= form.submit 'Submit' %> |
    <%= link_to cancel, admin_qualified_values_path %>
  </div>
<% end %>
