<%= form_with(model: [:admin, @lab_test_value], local: true) do |f| %>
  <%= render 'shared/error_messages', object: @lab_test_value %>

  <div class="value">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="flag">
    <%= f.label :flag %>
    <%= f.text_field :flag %>
  </div>

  <div class="note">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="buttonbar">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
