<%= form_with(model: [:admin, @lab_test_value], local: true) do |f| %>
  <%= render 'shared/error_messages', object: @lab_test_value %>

  <div class="value">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="flag">
    <%= f.label :flag %>
    <%= f.select :flag, options_for_flag, { prompt: 'Select flag:' } %>
  </div>

  <div class="numeric">
    <%= f.label :numeric %>
    <%= f.check_box :numeric %>
  </div>

  <div class="loinc">
    <%= f.label :loinc %>
    <%= f.text_field :loinc %>
  </div>

  <div class="snomed">
    <%= f.label :snomed %>
    <%= f.text_field :snomed %>
  </div>

  <div class="note">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="buttonbar">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
