<%= form_with(model: [:admin, @lab_test_value]) do |form| %>
  <%= render 'shared/error_messages', object: @lab_test_value %>

  <div class="value">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="flag">
    <%= form.label :flag %>
    <%= form.select :flag, options_for_flag, prompt: 'Select flag:', include_blank: true %>
  </div>

  <div class="quantity">
    <%= form.label :numeric, 'Quantitative?' %>
    <%= form.check_box :numeric %>
  </div>

  <div class="loinc">
    <%= form.label :loinc %>
    <%= form.text_field :loinc %>
  </div>

  <div class="snomed">
    <%= form.label :snomed %>
    <%= form.text_field :snomed %>
  </div>

  <div class="note">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="buttonbar">
    <%= form.submit 'Submit' %> |
    <%= link_to cancel, admin_lab_test_values_path %>
  </div>
<% end %>
