<%= form_for [:admin, @lab_test_value] do |f| %>
  <%#= f.error_messages %>

  <div class="value">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="flag">
    <%= f.label :flag %>
    <%= f.text_field :flag %>
  </div>

  <div class="note">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="buttonbar">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
