<% title 'Lab Test Value' %>

<%= turbo_stream_from [:admin, :lab_test_value] %>

<%= turbo_frame_tag :lab_test_value %>

<p>
  <strong>Value:</strong>
  <%= sanitize(@lab_test_value.value) %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @lab_test_value.flag %>
</p>

<p>
  <strong>SNOMED CT:</strong>
  <%= snomed_hyperlink(@lab_test_value.snomed) %>
</p>

<p>
  <strong>LOINC:</strong>
  <%= @lab_test_value.loinc %>
</p>

<p>
  <strong>Numeric:</strong>
  <%= @lab_test_value.numeric? %>
</p>

<p>
  <strong>Note:</strong>
  <%= sanitize(@lab_test_value.note) %>
</p>

<p>
  <%= link_to 'Edit', edit_admin_lab_test_value_path(@lab_test_value) %> |
  <%= link_to 'Destroy', [:admin, @lab_test_value], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %> |
  <%= link_to 'View All', admin_lab_test_values_path %>
</p>
