<%= form_for [:admin, @reference_range] do |f| %>
  <%= render 'shared/error_messages', object: @reference_range %>

  <div class="lab_test_id">
    <%= f.label :lab_test_id %>
    <%= f.collection_select :lab_test_id, LabTest.all, :id, :name %>
  </div>

  <div class="min">
    <%= f.label :min %>
    <%= f.text_field :min %>
  </div>

  <div class="max">
    <%= f.label :max %>
    <%= f.text_field :max %>
  </div>

  <div class="gender">
    <%= f.label :gender %>
    <%= f.select :gender, ReferenceRange::GENDERS %>
  </div>

  <div class="min_age">
    <%= f.label :min_age %>
    <%= f.text_field :min_age %>
  </div>

  <div class="max_age">
    <%= f.label :max_age %>
    <%= f.text_field :max_age %>
  </div>

  <div class="age_unit">
    <%= f.label :age_unit %>
    <%= f.select :age_unit, ReferenceRange::AGE_UNITS, :prompt => "Select" %>
  </div>

  <div class="animal_type">
    <%= f.label :animal_type, 'Animal Species' %>
    <%= f.select :animal_type, options_for_animal_species, include_blank: true %>
  </div>

  <div class="description">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="buttonbar">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
