<% title 'Reference Range' %>

<p>
  <strong>Test:</strong>
  <%= @reference_range.lab_test.name %>
</p>
<p>
  <strong>Min:</strong>
  <%= @reference_range.min %>
</p>
<p>
  <strong>Max:</strong>
  <%= @reference_range.max %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @reference_range.gender %>
</p>
<p>
  <strong>Min Age:</strong>
  <%= @reference_range.min_age %>
</p>
<p>
  <strong>Max Age:</strong>
  <%= @reference_range.max_age %>
</p>
<p>
  <strong>Age Unit:</strong>
  <%= @reference_range.age_unit %>
</p>
<p>
  <strong>Animal Type:</strong>
  <%= @reference_range.animal_type_name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @reference_range.description %>
</p>

<p>
  <%= link_to 'Edit', edit_admin_reference_range_path(@reference_range) %> |
  <%= link_to 'Destroy', [:admin, @reference_range], method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'View All', admin_reference_ranges_path %>
</p>
