<fieldset>
  <h2><%= sanitize(@priceable.name) if @priceable %></h2>
  <%= form_with(model: [:admin, @priceable, @price]) do |form| %>
    <%= render 'shared/error_messages', object: @price %>

    <div class="price_list_id">
      <%= form.label :price_list_id %>
      <%= form.collection_select :price_list_id, PriceList.active, :id, :name, include_blank: true %>
    </div>

    <div class="amount">
      <%= form.label :amount %>
      <%= form.text_field :amount %>
    </div>

    <div class="buttonbar">
      <%= form.submit 'Submit', data: { turbo: false } %>
      <%= link_to 'Cancel', admin_prices_path, data: { turbo: false } %>
    </div>
  <% end %>
</fieldset>
