<fieldset>
  <h2><%= @priceable.name if @priceable %></h2>
  <% labeled_form_for [:admin, @priceable, @price] do |f| %>
    <%= render 'shared/error_messages', object: @price %>
    <%= f.collection_select :price_list_id, PriceList.all, :id, :name, :include_blank => true %>
    <%= f.text_field :amount %>
    <div class="buttonbar">
      <%= f.submit "Submit" %>
      <%= link_to "Cancel", admin_prices_path %>
    </div>
  <% end %>
</fieldset>
