<% title 'Prices' %>

<table class="admin">
  <tr>
    <th><%= 'Price list' unless params[:price_list] %></th>
    <th>Lab Test/Panel</th>
    <th>CPT</th>
    <th>Amount</th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td><%= price.price_list.name unless params[:price_list] %></td>
    <td><%= price.priceable.name %></td>
    <td><%= price.priceable.procedure %></td>
    <td><%= number_to_currency price.amount %></td>
    <td><%= link_to 'Show', [:admin, price] %></td>
    <td><%= link_to 'Edit', edit_admin_price_path(price) %></td>
    <td><%= button_to 'Delete', [:admin, price], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } } %></td>
  </tr>
<% end %>
</table>
