<% title 'Price' %>

<p>
  <b>Amount:</b>
  <%= number_to_currency @price.amount %>
</p>

<p>
  <b>Price list:</b>
  <%= @price.price_list.name %>
</p>

<p>
  <b>Panel / Lab Test:</b>
  <%= @price.priceable.name %>
</p>


<%= link_to 'Edit', edit_admin_price_path(@price) %> |
<%= link_to 'Cancel', admin_prices_path, data: { turbo: false } %>
