<%= content_tag :tr, id: dom_id(doctor), is: 'turbo-frame', class: "admin_doctor empty-#{doctor.accessions_count.zero?}" do %>
  <td><%= organization_or_practitioner(doctor) %></td>
  <td><%= doctor.email %></td>
  <td><%= link_to 'Edit', edit_admin_doctor_path(doctor) %></td>
  <td>
    <%= link_to 'Delete', [:admin, doctor], data: { turbo_method: :delete, turbo_confirm: "If you erase a Doctor, all its requisitions will be gone!\nAre you sure?" } if doctor.accessions_count.zero? %>
  </td>
<% end %>
