<%= form_with(model: [:admin, @doctor]) do |form| %>
  <%= render 'shared/error_messages', object: @doctor %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :email %><br />
    <%= form.email_field :email %>
  </p>
  <p>
    <%= form.label :gender %>
    <%= form.select :gender, Doctor::GENDERS, include_blank: true %>
  </p>
  <p>
    <%= form.label :organization %>
    <%= form.check_box :organization, id: :doctor_organization %>
  </p>

  <div class="buttonbar">
    <%= form.submit 'Submit' %> |
    <%= link_to cancel, admin_doctors_path %>
  </div>
<% end %>
