<%= form_for [:admin, @doctor] do |f| %>
  <%= render 'shared/error_messages', object: @doctor %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p><%= f.submit 'Submit' %></p>
<% end %>
