<%= form_with(model: [:admin, @doctor], local: true) do |f| %>
  <%= render 'shared/error_messages', object: @doctor %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :gender %>
    <%= f.select :gender, Doctor::GENDERS, include_blank: true %>
  </p>
  <p>
    <%= f.label :organization %>
    <%= f.check_box :organization, id: :doctor_organization %>
  </p>
  <p><%= f.submit 'Submit' %></p>
<% end %>
