<%= form_with(model: [:admin, @department]) do |form| %>
  <%= render 'shared/error_messages', object: @department %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :code %><br />
    <%= form.text_field :code %>
  </p>
  <p>
    <%= form.label :loinc_class %><br />
    <%= form.text_field :loinc_class %>
  </p>

  <div class="buttonbar">
    <%= form.submit 'Submit' %>
    <% if cancel %>
      | <%= link_to 'View All', admin_departments_path %>
    <% end %>
  </div>
<% end %>
