<%= form_with(model: [:admin, @department], local: true) do |f| %>
  <%= render 'shared/error_messages', object: @department %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :loinc_class %><br />
    <%= f.text_field :loinc_class %>
  </p>
  <p><%= f.submit 'Submit' %></p>
<% end %>
