<% title 'Departments' %>

<%= turbo_stream_from [:admin, :departments] %>

<%#= turbo_frame_tag :departments %>

<div id="departments">
  <ul>
    <li><%= link_to '+', new_admin_department_path %></li>
    <%= render @departments %>
  </ul>

  <% @departments.each do |department| %>
    <%= content_tag :div, id: department.id do %>
      <ul>
      <% department.lab_tests.each do |lab_test| %>
        <li><%= link_to sanitize(lab_test.name), admin_lab_test_path(lab_test) %></li>
      <% end %>
      </ul>
      <div class="buttonbar">
        <p>
          <%= link_to 'Edit', edit_admin_department_path(department) %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>
