<% title 'Departments' %>

<% javascript 'tabs', 'ui.tabs.paging' %>

<div id="departments">
  <ul>
    <% @departments.each do |department| %>
      <li><%= link_to department.name, admin_departments_url(anchor: department.id) %></li>
    <% end %>
    <li><%= link_to '+', new_admin_department_path %></li>
  </ul>

  <% @departments.each do |department| %>
    <div id="<%= department.id %>">
      <ul>
      <% department.lab_tests.each do |lab_test| %>
        <li><%= sanitize lab_test.name %></li>
      <% end %>
      </ul>
      <div class="buttonbar">
        <p>
          <%= link_to 'Edit', edit_admin_department_path(department) %> |
          <%= link_to 'Delete', [:admin, department], method: :delete, data: { confirm: 'Are you sure?' } %>
        </p>
      </div>
    </div>
  <% end %>
</div>
