<% title 'Departments' %>

<div id="departments">
  <ul>
    <% @departments.each do |department| %>
      <li><%= link_to department.name, admin_departments_path(anchor: department.id) %></li>
    <% end %>
    <li><%= link_to '+', new_admin_department_path %></li>
  </ul>

  <% @departments.each do |department| %>
    <div id="<%= department.id %>">
      <ul>
      <% department.lab_tests.each do |lab_test| %>
        <li><%= link_to sanitize(lab_test.name), admin_lab_test_path(lab_test) %></li>
      <% end %>
      </ul>
      <div class="buttonbar">
        <p>
          <%= link_to 'Edit', edit_admin_department_path(department) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
