<% title t('.title') %>

<% content_for(:nav) do %>
  <%= content_tag :div, t('webauthn_credentials.not_supported'), class: 'flash_message', hidden: true, data: { controller: :alerts, alerts_target: 'unsupportedBrowserMessage' } %>
  <%= content_tag(:div, t('webauthn_credentials.invalid_credential'), class: 'flash_alert hidden', id: 'security-key-error-message') %>
<% end %>

<fieldset>
<%= form_with(model: [:settings, @webauthn_credential],
              data: { controller: :webauthn,
                      webauthn_callback_url_value: '/settings/security_keys/options',
                      action: 'webauthn#register' }) do |form| %>
  <%= render 'shared/error_messages', object: @webauthn_credential %>

  <div class="nickname">
    <%= form.label :nickname, t('.nickname'), class: 'required' %>
    <%= form.text_field :nickname, required: true, data: { webauthn_target: 'nickname' } %>
  </div>

  <div class="buttonbar">
    <%= form.submit t('.submit'), data: { webauthn_target: 'submitButton' } %>
    <%= t('.or') %>
    <%= link_to t('.cancel'), profile_path %>
  </div>
<% end %>
</fieldset>
