<!DOCTYPE html>
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'jquery-ui', 'screen', :cache => true %>
    <%= javascript_include_tag 'jquery', 'jquery-ui', 'rails', 'application', :cache => true %>
    <%= yield(:head) %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= form_authenticity_token %>" />
  </head>
  <body>
    <nav>
      <%= render 'layouts/admin/header' %>
      <%= render 'layouts/admin/tabs' %>
    </nav>

    <section class='main'>
      <%= yield %>
    </section>

    <footer id='footer'>
      Powered by <a href="http://www.labtecsa.com" onclick="window.open(this.href);return false;">OpenLIS</a>
      © 2008-2014 by MasterLab
      | <a href="#about" rel="facebox">About</a>
    </footer>
  </body>
</html>
