<% title t('.title') %>

<% content_for(:errors) do %>
  <%= content_tag(:div, t('webauthn_credentials.invalid_credential'), class: 'errors hidden', id: 'security-key-error-message') %>
<% end %>

<% content_for(:alerts) do %>
  <%= content_tag :div, t('webauthn_credentials.not_supported'), class: 'alerts', hidden: true, data: { controller: :alerts, alerts_target: 'unsupportedBrowserMessage' } %>
<% end %>

<%= form_with(model: resource, url: session_path(resource_name),
              class: 'login-form', html: { method: 'post' },
              data: { controller: :webauthn, webauthn_target: 'webauthnForm',
                      action: 'webauthn#authenticate' }) do |form| %>

  <h3><%= t('.title') %></h3>

  <div class="message" data-webauthn-target="webauthnMessage">
    <%= t('.message') %>
  </div>

  <%= form.submit t('.submit'), class: 'submit', autofocus: true, data: { disable_with: false, webauthn_target: 'submitButton' } %>
<% end %>
