<% row_class = cycle('even', 'odd', name: 'alternating_row_colors') %>
<tr class="<%= row_class %>">
  <td class="lab_test <%= flag_color result %>"><%= sanitize(result.lab_test_name) %></td>
  <td class="result <%= flag_color result %>"><%= sanitize(format_value(result)) %></td>
  <td class="symbol <%= flag_color result %>"><%= flag_name result %></td>
  <td class="units"><%= sanitize(format_units(result)) %></td>
  <td class="ranges"><%= ranges_table result.ranges %></td>
</tr>
<% if result.lab_test_remarks.present? %>
<tr class="<%= row_class %>">
  <td class="remarks" colspan="5"><%= sanitize(result.lab_test_remarks) %></td>
</tr>
<% end %>
