<li class='contact'>
  <div class="tools" style="display:none">
    <small>
      <% if accession.reported_at %>
        <%= link_to t('.change_results'), edit_results_accession_url(accession) %> |
      <% else %>
        <%= link_to t('.enter_results'), edit_results_accession_url(accession) %> |
      <% end %>
      <%= link_to t('.change_requisition'), edit_accession_path(accession)  %>
      <% if @current_user.admin? %>
        | <%= link_to t('.delete?'), accession, method: :delete, data: { confirm: t('.confirm_destroy') } %>
      <% end %>
    </small>
  </div>
  <%= link_to "#{t('.accession')} ##{accession.id}", accession_path(accession) %>
  <%= content_tag :tt, full_name(accession.patient) unless @patient %>
  <dt style='padding: 2px 0px 0px 0px'>
    <% if accession.reported_at %>
      <%= t('.drawn_at') %><b><%= l(accession.drawn_at, format: :short) %></b>
      <%= t('.by') %><b><%= accession.reporter.initials if accession.reporter %></b>
      | <%= t('.tests_ordered') %><b><%= truncate(accession.order_list, :length => 30) %></b>
    <% else %>
      <%= t('.drawn_at') %><b><%= l(accession.drawn_at, format: :short) %></b>
      <%= t('.by') %><b><%= accession.drawer.initials if accession.drawer %></b>
      | <%= t('.tests_pending') %><b><%= truncate(accession.pending_list, :length => 30) %></b>
    <% end %>
    <% unless accession.doctor_id.blank? %>
      | <%= t('.ordered_by') %> <b>Dr. <%= Doctor.find(accession.doctor_id).name %></b>
    <% end %>
  </dt>
</li>
