<fieldset class="<%= @accession.reported_at.blank? %>">
  <% if @accession.id %>
    <h1><%= t('.accession', id: @accession.id) %></h1>
  <% end %>

  <%= form_with(model: shallow_args(@patient, @accession), local: true, class: css_class, html: { novalidate: '', autocomplete: 'off' }) do |f| %>
    <%= render 'shared/error_messages', object: @accession %>

    <h2><%= t('.order_details') %></h2>

    <div class="doctor_name">
      <%= f.label :doctor_name, t('.doctor') %>
      <%= f.text_field :doctor_name, placeholder: t('.outpatient'),
        id: 'accession_doctor_name',
        data: { doctors: Doctor.cached_doctors_list }, autocorrect: 'off' %>
    </div>

    <div class="icd9">
      <%= f.label :icd9, t('.icd9') %>
      <%= f.text_field :icd9, placeholder: t('.icd9_placeholder'), autocorrect: 'off' %>
      <%= search_icd_code %>
    </div>

    <div class="drawn_at">
      <% if request.variant.include? :mobile %>
        <%= f.label :drawn_at, t('.drawn_at') %>
        <%= f.datetime_local_field :drawn_at, max: Time.current %>
      <% else %>
        <%= f.label :drawn_at, t('.drawn_at') %>
        <%= f.datetime_select :drawn_at, end_year: Time.current.year, ampm: true %>
      <% end %>
    </div>

    <div class="drawer_id">
      <%= f.label :drawer_id, t('.drawn_by') %>
      <%= f.collection_select :drawer_id, @users, :id, :username %>
    </div>

    <div class="received_at">
      <% if request.variant.include? :mobile %>
        <%= f.label :received_at, t('.received_at') %>
        <%= f.datetime_local_field :received_at, max: Time.current %>
      <% else %>
        <%= f.label :received_at, t('.received_at') %>
        <%= f.datetime_select :received_at, end_year: Time.current.year, ampm: true %>
      <% end %>
    </div>

    <div class="receiver_id">
      <%= f.label :receiver_id, t('.received_by') %>
      <%= f.collection_select :receiver_id, @users, :id, :username %>
    </div>

    <% if @accession.reported_at? %>
      <div class="reported_at">
        <% if request.variant.include? :mobile %>
          <%= f.label :reported_at, t('.reported_at') %>
          <%= f.datetime_local_field :reported_at, max: Time.current %>
        <% else %>
          <%= f.label :reported_at, t('.reported_at') %>
          <%= f.datetime_select :reported_at, end_year: Time.current.year, ampm: true %>
        <% end %>
      </div>

      <div class="reporter_id">
        <%= f.label :reporter_id, t('.reported_by') %>
        <%= f.collection_select :reporter_id, @users, :id, :username %>
      </div>
    <% end %>

    <%= render 'panels/form', f: f %>

    <%= render 'lab_tests/form', f: f %>

    <div class="buttonbar">
      <%= f.submit t('.submit'), data: { disable_with: t('.processing') } %>
      <%= t('.or') %>
      <%= link_to t('.cancel'), patient_path(@patient) %>
    </div>
  <% end %>
</fieldset>
