<fieldset class="<%= @accession.reported_at.blank? %>">
  <% if @accession.id %>
    <h1><%= t('.accession', id: @accession.id) %></h1>
  <% end %>

  <%= form_with(model: shallow_args(@patient, @accession), class: css_class,
                html: { novalidate: '', autocomplete: 'off' },
                data: { controller: 'service-request',
                        action: 'service-request#submit' }) do |form| %>
    <%= render 'shared/error_messages', object: @accession %>

    <h2><%= t('.order_details') %></h2>

    <div class="doctor_name">
      <%= form.label :doctor_name, t('.ordered_by') %>
      <%= form.text_field :doctor_name, placeholder: t('.outpatient'),
        id: 'accession_doctor_name',
        data: { doctors: Doctor.cached_doctors_list }, autocorrect: 'off' %>
    </div>

    <div class="icd9">
      <%= form.label :icd9, t('.icd9') %>
      <%= form.text_field :icd9, placeholder: t('.icd9_placeholder'), autocorrect: 'off' %>
    </div>

    <div class="search_icd9">
      <%= search_icd_code %>
    </div>

    <div class="drawn_at">
      <% if request.variant.include? :mobile %>
        <%= form.label :drawn_at, t('.drawn_at') %>
        <%= form.datetime_local_field :drawn_at, max: Time.current %>
      <% else %>
        <%= form.label :drawn_at, t('.drawn_at') %>
        <%= form.datetime_select :drawn_at, end_year: Time.current.year, ampm: true %>
      <% end %>
    </div>

    <div class="drawer_id">
      <%= form.label :drawer_id, t('.drawn_by') %>
      <%= form.collection_select :drawer_id, @users, :id, :username %>
    </div>

    <div class="received_at">
      <% if request.variant.include? :mobile %>
        <%= form.label :received_at, t('.received_at') %>
        <%= form.datetime_local_field :received_at, max: Time.current %>
      <% else %>
        <%= form.label :received_at, t('.received_at') %>
        <%= form.datetime_select :received_at, end_year: Time.current.year, ampm: true %>
      <% end %>
    </div>

    <div class="receiver_id">
      <%= form.label :receiver_id, t('.received_by') %>
      <%= form.collection_select :receiver_id, @users, :id, :username %>
    </div>

    <% if @accession.reported_at? %>
      <div class="reported_at">
        <% if request.variant.include? :mobile %>
          <%= form.label :reported_at, t('.reported_at') %>
          <%= form.datetime_local_field :reported_at, max: Time.current %>
        <% else %>
          <%= form.label :reported_at, t('.reported_at') %>
          <%= form.datetime_select :reported_at, end_year: Time.current.year, ampm: true %>
        <% end %>
      </div>

      <div class="reporter_id">
        <%= form.label :reporter_id, t('.reported_by') %>
        <%= form.collection_select :reporter_id, @users, :id, :username %>
      </div>
    <% end %>

    <%= render 'panels/form', form: form, controller_name: 'service-request', model_name: 'accession' %>

    <%= render 'lab_tests/form', form: form, controller_name: 'service-request', model_name: 'accession' %>

    <div class="buttonbar">
      <%= form.submit t('.submit') %>
      <%= t('.or') %>
      <%= link_to t('.cancel'), patient_path(@patient) %>
    </div>
  <% end %>
</fieldset>
