<div class='panel' id='summary'>
  <% if patient.animal_type %>
    <span style='float:right'><%= image_tag("avatar_#{patient.animal_type}.png", :class => "gravatar", :size => "50x50") %></span>
  <% else %>
    <span style='float:right'><%= image_tag("avatar_#{patient.gender}.png", :class => "gravatar", :size => "50x50") %></span>
  <% end %>
  <h4><%=h patient.full_name %></h4>
  <div>
    <%=h patient.identifier %><br />
    <%=h pluralize patient.age_to_display, patient.age_units %>
  </div>
  <div>
    <%= t('.address') %> <%=h patient.address %><br />
    <%= t('.phone') %> <b><%=h patient.phone %></b>
  </div>
  <div>
    <%= t('.email') %> <b><%= mail_to patient.email %></b>
  </div>
  <%= image_tag("axa.png", :size => "15x15") if patient.insurance_provider %>
</div>
