<% title t('.title') %>

<%= turbo_stream_from [current_user.admin?, :accessions] %>

<div class="title">
  <span><%= t('.title')%></span>
</div>

<div class='list'>
  <div class="log">
    <ul>
      <%= render 'accessions/empty', patient: nil %>
      <% if current_user.admin? %>
        <%= render partial: 'admin_accession', collection: @accessions, as: :accession %>
      <% else %>
        <%= render @accessions %>
      <% end %>
    </ul>

    <%= paginate @accessions %>
  </div>
</div>
