<% title t('.title') %>

<%= turbo_stream_from :accessions %>

<div class="title">
  <span><%= t('.title')%></span>
</div>

<div class='list'>
  <div class="log">
    <% if @accessions.blank? %>
      <%= t('.no_requisitions_yet') %><br/>
      <% if @patient %>
        <%= link_to t('.order_tests'), new_patient_accession_path(@patient) %>
      <% end %>
    <% else %>
      <%= content_tag :ul, id: 'accessions', is: 'turbo-frame' do %>
        <%= render @accessions %>
      <% end %>

      <div class="overdue">
        <%= paginate @accessions %>
      </div>
    <% end %>
  </div>
</div>
