<% title "#{t('.title')} ##{@accession.id.to_s}" %>

<fieldset class="<%= @accession.reported_at.blank? %>">
  <h1><%= t('.accession') %><%= @accession.id.to_s %></h1>

  <%= practitioner @accession.doctor %><br />

  <% if @accession.drawn_at %>
    <%= t('.drawn_at') %>
    <strong><%= l(@accession.drawn_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @accession.drawer.initials %></strong><br />
  <% end %>

  <% if @accession.received_at %>
    <%= t('.received_at') %>
    <strong><%= l(@accession.received_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @accession.receiver.initials %></strong><br />
  <% end %>

  <% if @accession.reported_at %>
    <%= t('.reported_at') %>
    <strong><%= l(@accession.reported_at, format: :short) %></strong>
    <%= t('.by') %>
    <strong><%= @accession.reporter.initials %></strong>
  <% end %>

  <% @results.each do |department, results| %>
    <h2><%= department.name %></h2>

    <table class="results">
      <% reset_cycle("alternating_row_colors") %>
      <%= render results %>
    </table>

    <% if @accession.notes.find_by_department_id(department).try(:content).present? %>
      <br />
      <br />
      <em><%= t('.notes') %></em>
      <%= @accession.notes.find_by_department_id(department).content %>
      <br /><br />
    <% end %>
  <% end %>

  <div class="buttonbar">
    <%= link_to t('.change_accession'), edit_accession_path(@accession) %> |
    <% if @accession.reported_at %>
      <%= link_to t('.change_results'), edit_results_accession_url(@accession) %> |
      <% if @accession.patient.email.present? %>
        <%= link_to t('.email_report'), email_accession_path(@accession),
          data: { confirm: t('.confirm_email', email: @patient.email),
                  disable_with: t('.sending_email') },
          method: :put,
          remote: true %> |
      <% end %>
    <% else %>
      <%= link_to t('.enter_results'), edit_results_accession_url(@accession) %> |
      <%= link_to t('.report'), report_accession_path(@accession), method: :patch, data: { turbolinks: false } %> |
    <% end %>
    <%= link_to t('.print_report'), accession_results_path(@accession, format: 'pdf'), data: { turbolinks: false } %>
  </div>
</fieldset>
