<% title 'Lab Tests' %>

<%= turbo_stream_from [:admin, :lab_tests] %>

<%= turbo_frame_tag :lab_tests %>

<%= content_tag :ul, class: 'lab_tests',
                     data: { update_url: sort_admin_lab_tests_url } do %>
  <% @lab_tests.each do |department, lab_tests| %>
    <h3 class="department"><%= department %></h3>
    <%= render lab_tests %>
  <% end %>
<% end %>

<p><%= link_to 'New Lab Test', new_admin_lab_test_path %></p>
