<% title 'Lab Tests' %>

<ul class='lab_tests'>
  <% @lab_tests.each do |department, lab_tests| %>
    <h3><%= department %></h3>
    <% lab_tests.each do |lab_test| %>
      <%= content_tag_for :li, lab_test do %>
        <div class="handle">[handle]</div>
        <%= sanitize lab_test.name %>
        <%= "(#{lab_test.description})" if lab_test.description.present? %>
        — <%= lab_test.code %>
        <%= "(#{lab_test.procedure})" if lab_test.procedure.present? %>
        <%= '0.' + '0' * lab_test.decimals if lab_test.decimals %>
        <%= lab_test.unit.name if lab_test.unit.present? %>
        <%= link_to 'Show', [:admin, lab_test] %>
        <%= link_to 'Edit', edit_admin_lab_test_path(lab_test) %>
        <%= link_to 'Destroy', [:admin, lab_test], method: :delete,
          data: { confirm: 'Are you sure?' }%>
      <% end %>
    <% end %>
  <% end %>
</ul>

<p><%= link_to 'New Lab Test', new_admin_lab_test_path %></p>
