<% title 'Lab Tests' %>

<%= turbo_stream_from [:admin, :lab_tests] %>

<%= turbo_frame_tag :lab_tests %>

<fieldset>
<% @departments.each do |department| %>
  <h2 class="department"><%= department.name %></h2>
  <%= content_tag :ul,
    data: { controller: 'sort', sort_success_class: 'highlight',
            sort_url_value: '/admin/lab_tests/:id/sort' } do %>
    <%= render department.lab_tests %>
  <% end %>
<% end %>
</fieldset>

<p><%= link_to 'New Lab Test', new_admin_lab_test_path %></p>
