<%= turbo_stream_from :patient_card %>

<%= turbo_frame_tag dom_id(patient, :card) do %>
  <div class="panel <%= 'deceased' if patient.deceased? %>" id="summary">

    <%= avatar_icon(patient) %>

    <h4><%= link_to full_name(patient), patient_path(patient), data: { turbo_frame: '_top' } %></h4>
    <div>
      <%= patient.identifier %>
      <% if patient.identifier_type == 1 %>
        DV: <%= Cedula::dv(patient.identifier) %>
      <% end %>
      <br />
      <% unless patient.deceased? %>
      <%= t('.age') %> <%= display_pediatric_age(patient.pediatric_age) %>
      <% end %>
    </div>
    <div>
      <% if patient.address_line.present? %>
        <%= t('.address') %> <%= patient.address_line %><br />
      <% end %>
      <% if patient.cellular.present? %>
        <%= t('.cellular') %> <b><%= link_to format_phone_number(patient.cellular),
          whatsapp_click_to_chat_url(patient.cellular), target: :_blank %></b><br />
      <% end %>
      <% if patient.phone.present? %>
        <%= t('.phone') %> <b><%= link_to format_phone_number(patient.phone),
          "tel:#{format_phone_number_e164(patient.phone)}" %></b>
      <% end %>
    </div>
    <div>
      <% if patient.email.present? %>
        <%= t('.email') %> <b><%= mail_to patient.email %></b>
      <% end %>
    </div>
    <div class="bottom_card">
      <%= link_to history_patient_path patient, format: :json do %>
        <%= image_tag('logo_fhir.svg', size: '15x15', class: 'fhir_icon') %>
      <% end %>
      <% if patient.insurance_provider %>
        <%= image_tag('axa.svg', size: '15x15') %>
        <%= patient.policy_number %>
      <% end %>
      <div class="edit_patient_card">
        <%= link_to t('.edit'), edit_patient_path(patient), data: { turbo_frame: '_top' } %>
      </div>
    </div>
  </div>
<% end %>
