<% cache [I18n.locale, @patient] do %>
  <div class="panel" id="summary">

    <%= avatar_icon(@patient) %>

    <h4><%= link_to full_name(@patient), patient_path(@patient) %></h4>
    <div>
      <%= @patient.identifier %><br />
      <%= age(@patient.birthdate) %>
    </div>
    <div>
      <% if @patient.address.present? %>
        <%= t('.address') %> <%= @patient.address %><br />
      <% end %>
      <% if @patient.cellular.present? %>
        <%= t('.cellular') %> <b><%= @patient.cellular %></b><br />
      <% end %>
      <% if @patient.phone.present? %>
        <%= t('.phone') %> <b><%= @patient.phone %></b>
      <% end %>
    </div>
    <div>
      <% if @patient.email.present? %>
        <%= t('.email') %> <b><%= mail_to @patient.email %></b>
      <% end %>
    </div>
    <div class="bottom_card">
      <% if @patient.insurance_provider %>
        <%= image_tag('axa.svg', size: '15x15') %>
        <%= @patient.policy_number %>
      <% end %>
      <div class="edit_patient_card">
        <%= link_to t('.edit'), edit_patient_path(@patient) %>
      </div>
    </div>
  </div>
<% end %>
