<% cache patient do %>
  <li class="contact">
    <%= avatar_icon(patient) %>

    <div class="tools" style="display:none">
      <small>
        <%= link_to t('.edit'), edit_patient_path(patient) %>
        <% if current_user.admin? %> |
          <%= link_to t('.delete?'), patient, method: :delete, data: { confirm: t('.confirm_destroy') } %>
        <% end %>
      </small>
    </div>

    <%= link_to full_name(patient), patient_path(patient) %>
    <tt><%= patient.identifier %></tt>
    <dt style="padding: 2px 0px 0px 0px">
      <% if patient.email.present? %>
        <%= mail_to patient.email %> |
      <% end %>
      <% if patient.phone.present? %>
        <%= t('.phone') %> <b><%= patient.phone %></b> |
      <% end %>
      <%= age(patient.birthdate) %>
    </dt>
  </li>
<% end %>
