<%= title t('.title') %>

<%= turbo_stream_from [current_user.admin?, :patients] %>

<div class="title_tools">
  <%= link_to t('.new_patient'), new_patient_path %>
</div>

<div class="title">
  <span><%= t('.title')%></span>
</div>

<div class="list">
  <% if @patients.empty? %>
    <p class="content"><%= t('.not_found') %></p>
  <% else %>
    <ul>
      <% if current_user.admin? %>
        <%= render partial: 'admin_patient', collection: @patients, as: :patient %>
      <% else %>
        <%= render @patients %>
      <% end %>
    </ul>

    <%= paginate @patients %>
  <% end %>
</div>
