<%= title t('.title') %>

<%= turbo_stream_from :patients %>

<div class="title_tools">
  <%= link_to t('.new_patient'), new_patient_path %>
</div>

<div class="title">
  <span><%= t('.title')%></span>
</div>

<div class="list">
  <% if @patients.empty? %>
    <p class="content"><%= t('.not_found') %></p>
  <% else %>
    <ul>
      <%= render @patients %>
    </ul>

    <div class="paginate">
      <%= paginate @patients %>
    </div>
  <% end %>
</div>
