<% title t('.title') %>

<%= turbo_stream_from :patient %>

<%= turbo_frame_tag :patient %>

<div class="title_tools">
  <%= link_to t('.order_tests'), new_patient_accession_path(@patient) %>
</div>
<div class="title"><%= full_name(@patient) %></div>

<div class="list" id="requisitions">
  <div class="log">
    <% if @accessions.blank? %>
      <%= t('.no_requisitions_yet') %><br/>
      <% if @patient %>
        <%= link_to t('.order_tests'), new_patient_accession_path(@patient) %>
      <% end %>
    <% else %>
      <ul>
        <%= render @accessions %>
      </ul>

      <div class="overdue">
        <%= paginate @accessions %>
      </div>
    <% end %>
  </div>
</div>
