<% title t('.title') %>

<%= turbo_stream_from :patient_name %>
<%= turbo_stream_from [current_user.admin?, :accessions] %>

<div class="title_tools">
  <%= link_to t('.order_tests'), new_patient_accession_path(@patient) %>
</div>

<%= render partial: 'name', locals: { patient: @patient } %>

<div class="list">
  <div class="log">
    <ul>
      <%= render 'accessions/empty', patient: @patient %>
      <% if current_user.admin? %>
        <%= render partial: 'accessions/admin_accession', collection: @accessions, as: :accession %>
      <% else %>
        <%= render @accessions %>
      <% end %>
    </ul>

    <%= paginate @accessions %>
  </div>
</div>
