<% content_for(:head) do %>
  <%= javascript_pack_tag 'webauthn', crossorigin: 'anonymous' %>
<% end %>

<%= form_with(model: resource, url: session_path(resource_name), local: true,
              class: 'login-form', html: { novalidate: true }) do |f| %>
  <div class="username">
    <%= f.label :username, t('user_sessions.new.username') %>
    <%= f.email_field :username, id: 'user_username',
      'aria-label': t('user_sessions.new.username'), autofocus: true, autocomplete: 'off' %>
  </div>

  <div class="password">
    <%= f.label :password, t('user_sessions.new.password') %>
    <%= f.password_field :password, id: 'user_password',
      'aria-label': t('user_sessions.new.password'), autocomplete: 'off' %>
  </div>

  <%= f.submit t('user_sessions.new.submit'), class: 'submit' %>
<% end %>
