<%= content_tag :tr, id: dom_id(qualified_interval), is: 'turbo-frame', class: 'admin_qualified_interval' do %>
  <td><%= qualified_interval.rank %></td>
  <td><%= qualified_interval.category %></td>
  <td><%= qualified_interval.gender %></td>
  <td><%= format_range(qualified_interval.age) %></td>
  <td><%= range_row(qualified_interval)[2..4].join %> <%= qualified_interval.unit&.expression %></td>
  <td><%= qualified_interval.context %></td>
  <td><%= qualified_interval.interpretation&.value %></td>
  <td><%= format_range(qualified_interval.gestational_age) %></td>
  <td><%= qualified_interval.condition %></td>
  <td><%= animal_species_name(qualified_interval.animal_type) %></td>
  <td><%= link_to 'Edit', edit_admin_qualified_interval_path(qualified_interval) %></td>
  <td>
    <%= link_to 'Delete', [:admin, qualified_interval], data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  </td>
<% end %>
