<% title 'Qualified Intervals' %>

<%= turbo_stream_from [:admin, :qualified_intervals] %>

<%= turbo_frame_tag :qualified_intervals %>

<table class="qualified-interval">
  <% @lab_tests.each do |lab_test| %>
    <% next unless lab_test.qualified_intervals.present? %>
    <tr><th colspan="12"><h3><%= name_with_description(lab_test) %></h3></th></tr>
    <tr>
      <td><b>#</b></td>
      <td><b>Category</b></td>
      <td><b>Gender</b></td>
      <td class="age"><b>Age</b></td>
      <td class="range"><b>Range</b></td>
      <td><b>Context</b></td>
      <td><b>Interpretation</b></td>
      <td><b>Gestational Age</b></td>
      <td><b>Condition</b></td>
      <td><b>Animal Type</b></td>
      <td></td>
      <td></td>
    </tr>
    <%= render lab_test.qualified_intervals %>
  <% end %>
</table>

<%= link_to 'New Qualified Interval', new_admin_qualified_interval_path %>
