<%= form_with(model: [:admin, @panel]) do |form| %>
  <%= render 'shared/error_messages', object: @panel %>

  <div class="code">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="procedure">
    <%= form.label :procedure %>
    <%= form.text_field :procedure %>
  </div>

  <div class="loinc">
    <%= form.label :loinc %>
    <%= form.text_field :loinc %>
  </div>

  <div class="description">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="fasting_status_duration_iso8601">
    <%= form.label :fasting_status_duration_iso8601, 'Fasting (PT#H)' %>
    <%= form.text_field :fasting_status_duration_iso8601 %>
  </div>

  <div class="patient_preparation">
    <%= form.label :patient_preparation %>
    <%= form.text_area :patient_preparation %>
  </div>

  <div class="status">
    <%= form.label :status %>
    <%= form.select :status, Panel.statuses.keys %>
  </div>

  <fieldset>
    <legend>Values</legend>
      <div class="values">
        <%= form.collection_check_boxes(:lab_test_ids, LabTest.sorted, :id, :name) do |builder| %>
          <div class="lab_test">
            <%= builder.check_box %>
            <label class="checkbox" for="panel_lab_test_ids_<%= builder.object.id %>"><%= sanitize(builder.text) %><%= " (#{builder.object.description})" if builder.object.description.present? %></label>
          </div>
        <% end %>
      </div>
  </fieldset>

  <% unless @panel.new_record? %>
  <fieldset>
    <legend>Prices</legend>
    <% form.object.prices.each do |price| %>
      <% if price.price_list.active? %>
        <%= price.price_list.name %>:
        <%= number_to_currency price.amount %>
        <%= link_to 'Edit', edit_admin_price_path(price.id) %><br />
      <% end %>
    <% end %>
    <p><%= link_to 'New Price', new_admin_panel_price_path(@panel) %></p>
  </fieldset>
  <% end %>

  <div class="buttonbar">
    <%= form.submit 'Submit' %> |
    <%= link_to cancel, admin_panels_path %>
  </div>
<% end %>
