<%= form_for [:admin, @panel] do |f| %>
  <%= render 'shared/error_messages', object: @panel %>

  <div class="code">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="name">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="procedure">
    <%= f.label :procedure %>
    <%= f.text_field :procedure %>
  </div>

  <div class="description">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <fieldset>
    <legend>Values</legend>
      <div class="values">
        <%#= f.many_check_boxes :lab_test_ids, LabTest.all, :id, :name %>
      </div>
  </fieldset>

  <% unless @panel.new_record? %>
  <fieldset>
    <legend>Prices</legend>
    <% f.object.prices.each do |price| %>
      <%= price.price_list.name %>:
      <%= number_to_currency price.amount %><br />
    <% end %>
    <p><%= link_to 'New Price', new_admin_panel_price_path(@panel) %></p>
  </fieldset>
  <% end %>

  <p><%= f.submit 'Submit' %></p>
<% end %>
