<% title 'Panels' %>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>CPT</th>
    <th>LOINC</th>
    <th>Description</th>
    <th>Lab Tests</th>
  </tr>
  <% @panels.each do |panel| %>
    <tr>
      <td><%= panel.code %></td>
      <td><%= sanitize panel.name %></td>
      <td><%= panel.procedure %></td>
      <td><%= loinc_hyperlink(panel.loinc) %></td>
      <td><%= panel.description %></td>
      <td><%= panel.lab_test_code_list %></td>
      <td><%= link_to 'Show', [:admin, panel] %></td>
      <td><%= link_to 'Edit', edit_admin_panel_path(panel) %></td>
      <td>
        <%= link_to 'Destroy', [:admin, panel], method: :delete,
          data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'New Panel', new_admin_panel_path %></p>
