<% title 'Panel' %>

<p>
  <strong>Code:</strong>
  <%= @panel.code %>
</p>
<p>
  <strong>Name:</strong>
  <%= sanitize @panel.name %>
</p>
<p>
  <strong>CPT:</strong>
  <%= @panel.procedure %>
</p>
<p>
  <strong>Description:</strong>
  <%= sanitize @panel.description %>
</p>

<p>
  <%= link_to 'Edit', edit_admin_panel_path(@panel) %> |
  <%= link_to 'Destroy', [:admin, @panel], method: :delete,
    data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'View All', admin_panels_path %>
</p>
