<% title 'Panel' %>

<%= turbo_stream_from [:admin, :panel] %>

<%= turbo_frame_tag :panel %>

<p>
  <strong>Code:</strong>
  <%= @panel.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= sanitize @panel.name %>
</p>

<p>
  <strong>CPT Code:</strong>
  <%= show_procedure(@panel.procedure, @panel.procedure_quantity) %>
</p>

<p>
  <strong>LOINC:</strong>
  <%= loinc_hyperlink(@panel.loinc) %>
</p>

<p>
  <strong>Description:</strong>
  <%= sanitize @panel.description %>
</p>

<p>
  <strong>Lab Tests:</strong>
  <ul>
    <% @panel.lab_tests.each do |lab_test| %>
      <li><%= sanitize lab_test.name %><%= " (#{lab_test.description})" if lab_test.description.present? %> <%= loinc_hyperlink(lab_test.loinc) if lab_test.loinc.present? %></li>
    <% end %>
  </ul>
</p>

<p>
  <%= link_to 'Edit', edit_admin_panel_path(@panel) %> |
  <%= link_to 'View All', admin_panels_path %>
</p>
