<%= form_with(model: [:admin, @insurance_provider], data: { turbo: false }) do |form| %>
  <%= render 'shared/error_messages', object: @insurance_provider %>
  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :price_list_id %><br />
    <%= form.collection_select :price_list_id, PriceList.all, :id, :name, { include_blank: true } %>
  </p>
  <p><%= form.submit 'Submit' %></p>
<% end %>
