<% title 'Insurance Providers' %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @insurance_providers.each do |insurance_provider| %>
    <tr>
      <td><%= insurance_provider.name %></td>
      <td><%= link_to 'Show', [:admin, insurance_provider] %></td>
      <td><%= link_to 'Edit', edit_admin_insurance_provider_path(insurance_provider) %></td>
      <td><%= link_to 'Claims', admin_insurance_provider_claims_path(insurance_provider) %></td>
      <td><%= link_to 'Price List', admin_insurance_provider_prices_path(insurance_provider, format: 'pdf') %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'New Insurance Provider', new_admin_insurance_provider_path %></p>
