<h1><%= link_to "MasterLab", "http://www.labtecsa.com" %></h1>

<%#= render_error_messages @user_session %>

<%= form_for @user_session, html: { novalidate: '' } do |f| %>
  <div class="username">
    <%= f.label :username, t('.username') %>
    <%= f.email_field :username %>
  </div>

  <div class="password">
    <%= f.label :password, t('.password') %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit t('.submit'), id: 'user_session_submit' %>
<% end %>
