<%= form_tag print_selected_admin_claims_path do %>
  <table>
    <tr>
      <th></th>
      <th>Patient</th>
      <th>Accession</th>
      <th>External Number</th>
      <th>Claim Number</th>
      <th></th>
    </tr>
    <% @claims.each do |claim| %>
    <tr>
      <td><%= check_box_tag 'claim_ids[]', claim.id %></td>
      <td><%= name_last_comma_first_mi(claim.patient) %></td>
      <td><%= claim.accession_id %></td>
      <td><%= claim.external_number %></td>
      <td><%= claim.number %></td>
      <td><%= link_to 'Edit', edit_admin_claim_path(claim) %></td>
    </tr>
    <% end %>
  </table>
  <p><%= submit_tag 'Print Selected', data: { turbolinks: false } %></p>
<% end %>
