<fieldset>
<%= form_with(model: [:admin, @claim]) do |form| %>
  <%= render 'shared/error_messages', object: @claim %>

  <h2>
    <%= name_last_comma_first_mi(@claim.patient) %>
    (<%= form.object.accession_id %>)
  </h2>

  <%= form.hidden_field :accession_id %>
  <%= form.hidden_field :insurance_provider_id %>

  <div class="external_number">
    <%= form.label :external_number %>
    <%= form.text_field :external_number %>
  </div>

  <div class="number">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="buttonbar">
    <%= form.submit 'Submit' %> |
    <%= link_to cancel, admin_claims_path %>
  </div>
<% end %>
</fieldset>
