<fieldset>
<%= form_with(model: [:admin, @claim], local: true) do |f| %>
  <%= render 'shared/error_messages', object: @claim %>

  <h2>
    <%= name_last_comma_first_mi(@claim.patient) %>
    (<%= f.object.accession_id %>)
  </h2>

  <%= f.hidden_field :accession_id %>
  <%= f.hidden_field :insurance_provider_id %>

  <div class="external_number">
    <%= f.label :external_number %>
    <%= f.text_field :external_number %>
  </div>

  <div class="number">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

  <div class="buttonbar">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
</fieldset>
