<%= form_with(url: submit_selected_admin_claims_path, local: true) do %>
<table>
  <tr>
    <th></th>
    <th>Patient</th>
    <th>Accession</th>
    <th>External Number</th>
    <th>Claim Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unsubmitted_claims.each do |unsubmitted_claim| %>
  <tr>
    <td><%= check_box_tag 'unsubmitted_claim_ids[]', unsubmitted_claim.claim.id, false, id: "unsubmitted_claim_id_#{unsubmitted_claim.claim.id}" if unsubmitted_claim.claim %></td>
    <td>
      <% if unsubmitted_claim.claim %>
        <%= label_tag "unsubmitted_claim_id_#{unsubmitted_claim.claim.id}", name_last_comma_first_mi(unsubmitted_claim.patient) %>
      <% else %>
        <%= name_last_comma_first_mi(unsubmitted_claim.patient) %>
      <% end %>
    </td>
    <td><%= link_to unsubmitted_claim.id, accession_path(unsubmitted_claim), target: '_blank' %></td>
    <td><%= unsubmitted_claim.claim_external_number %></td>
    <td><%= unsubmitted_claim.claim_number %></td>
    <% if unsubmitted_claim.claim %>
      <td><%= link_to 'Info', edit_admin_claim_path(unsubmitted_claim.claim), class: 'edit_claim' %></td>
      <td><%= link_to 'Preview', [:admin, unsubmitted_claim.claim], data: { turbolinks: false } %></td>
      <td><%= link_to 'Submit', submit_admin_claim_path(unsubmitted_claim.claim), method: :put %></td>
    <% else %>
      <td><%= link_to 'Info', new_admin_accession_claim_path(unsubmitted_claim), class: 'edit_claim' %></td>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<p><%= submit_tag 'Submit Selected' %></p>
<% end %>
