<div id="header">
  <div id="welcome">
    <% if current_user %>
      <%= link_to current_username, profile_path %> |
      <% if current_user.admin? %>
        <%= link_to t('.admin'), admin_path %> |
      <% end %>
      <%= button_to t('.logout'), destroy_user_session_path, method: :delete, class: 'welcome' %>
    <% else %>
      <%= link_to "Login", user_session_path %> |
      <%= link_to "About", "#about" %>
    <% end %>
  </div>
  <h3><%= link_to "MasterLab", root_path, data: { turbo: false } %></h3>
</div>
