<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'Untitled' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head) %>
    <link rel="mask-icon" href="pinned-masterlab.svg" color="#993399">
  </head>
  <body>
    <nav>
      <%= render 'layouts/header' -%>
      <%= render 'layouts/tabs' -%>
    </nav>

    <section class="sidebar">
      <%= render 'layouts/sidebar' -%>
    </section>

    <section class="main">
      <%= yield %>
    </section>

    <%= render 'layouts/footer' -%>
  </body>
</html>
