<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || 'Untitled' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'oldapplication', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'old/doctors', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'old/navtabs', 'data-turbo-track': 'reload' %>
    <%= yield(:head) %>
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="pinned-masterlab.svg" color="#993399">
    <link rel="alternate icon" type="image/png" href="/icon.png">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
  </head>
  <body>
    <nav>
      <%= render 'layouts/header' -%>
      <%= render 'layouts/tabs' -%>
    </nav>

    <section class="sidebar">
      <%= render 'layouts/sidebar' -%>
    </section>

    <section class="main">
      <%= yield %>
    </section>

    <%= render 'layouts/footer' -%>
  </body>
</html>
