<!DOCTYPE html>
<html lang="<%= set_user_language %>" prefix="og: http://ogp.me/ns#">
<head>
<title><%= t('.title') %></title>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<meta property="og:title" content="OpenLIS">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:image" content="<%= request.base_url + '/logo.png' %>">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="620">
<meta property="og:image" content="<%= request.base_url + '/icon.png' %>">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="1200">
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag 'login', media: 'all' %>
<%= javascript_importmap_tags %>
<%= yield(:head) %>
<link rel="mask-icon" href="pinned-masterlab.svg" color="#993399">
<link rel="alternate icon" type="image/png" href="/icon.png">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
</head>

<body class="login">
<div id="login">
  <h1><%= link_to "MasterLab", "https://www.labtecsa.com" %></h1>
  <% if alert.present? %>
    <div class="errors">
      <strong>ERROR:</strong>
      <%= alert %>
    </div>
  <% elsif notice.present? %>
    <div class="alerts">
      <%= notice %>
    </div>
  <% end %>
  <%= yield(:errors) %>
  <%= yield(:alerts) %>
  <%= yield %>
</div>
</body>
</html>
