<!DOCTYPE html>
<html lang="<%= set_user_language %>">
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<meta property="og:image" content="apple-touch-icon.png" />
<title><%= t('.title') %></title>
<%= stylesheet_link_tag 'login', media: 'all' %>
<%= javascript_include_tag 'login' %>
<link rel="mask-icon" href="pinned-masterlab.svg" color="#993399">
</head>

<body class="login">
<div id="login">
  <h1><%= link_to "MasterLab", "http://www.labtecsa.com" %></h1>
  <% if alert.present? %>
    <div class="errors">
      <strong>ERROR:</strong>
      <%= alert %>
    </div>
  <% elsif notice.present? %>
    <div class="alerts">
      <%= notice %>
    </div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
