<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= stylesheet_link_tag 'login', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield(:head) %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="login">
    <div id="login">
      <h1><%= link_to "MasterLab", "http://www.labtecsa.com" %></h1>
      <% if alert.present? || notice.present? %>
      <div class="errors">
        <strong>ERROR:</strong>
        <%= notice %>
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
